<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by nombre"
        [(ngModel)]="nombre"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchNombre()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Lista de juegos</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let juego of juegos; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveJuego(juego, i)"
      >
        {{ juego.nombre }}
      </li>
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllJuegos()">
      Remove All
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentJuego">
      <h4>Juego</h4>
      <div>
        <label><strong>Nombre:</strong></label> {{ currentJuego.nombre }}
      </div>
      <div>
        <label><strong>Subtitulo:</strong></label>
        {{ currentJuego.subtitulo }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentJuego.es_activo ? "Activo" : "Pending" }}
      </div>

      <a class="badge badge-warning" routerLink="/juegos/{{ currentJuego.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentJuego">
      <br />
      <p>Please click on a Juego...</p>
    </div>
  </div>
</div>
